@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

    .no-scrollbar::-webkit-scrollbar {
      width: 5px;
      background-color:rgb(236, 235, 235);
    }
    .no-scrollbar::-webkit-scrollbar-thumb {
     
      background: linear-gradient(rgb(223, 125, 125),rgb(100, 100, 169));
    }
  
   
  }